extends ../layouts/common.pug

block content
    h1 Create User

    form(action="/users/create" method="POST", class="d-flex")
        lable Name 
        input(name = "name", type="text", class="form-control")
        button(class="btn btn-primary") Create
    