extends ../layouts/common.pug

block content
    h1 User list

    a.btn.btn-primary(href="/users/create") New

    form.mt-3(action="/users/search",class="d-flex")
        input(type="text", name="q", class="form-control")
        button(class="btn btn-primary") Search

    //- Loop
    table.table
        tr
            th Name
            th Phone
            th Actions
        each user in users 
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/" + user.id ) view detail
