h1 User list
form(action="/users/search" method="GET")
    input(type="text", name="q")
    button Search

//- Loop
ul
    each user in users 
        li
            span= user.name
            span &nbsp;
            a(href="/users/" + user.id ) view detail

a(href="/users/create") Create user
br
a(href="/") Home