h1 User list
form(action="/users/search" method="GET")
    input(type="text", name="q")
    button Search

//- Loop
ul
    each user in users 
        li= user.name
a(href="/users/create") Create user
br
a(href="/") Home